<!DOCTYPE html>
<html ng-app="mymodule">
<head>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/JavaScript.js"></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-model="mymodule">
    <div ng-controller="myController">

        <table>
            <thead>
            <tr>
                <th>firstName:</th>
                <th>lastname</th>
                <th>gender:</th>
                <th>salary:</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in emp">
                    
                    <td>{{ emp.firstName }}  </td>
                  
                    <td>
                        {{ emp.lastName }}

                    </td>
                    <td>Gender:</td>
                    <td>
                        {{ emp.gender }}
                   
                    <td>
                        {{ emp.salary }}
                    </td>


                </tr>
            </tbody>
        </table>



    </div>

</body/>
</html>